In [54]:
import numpy as np
import pandas as pd

In [55]:
dataset = pd.read_csv('Ares147.csv')
weight = dataset.iloc[:, 0]
weight

0      147.00
1      147.00
2      147.05
3      147.10
4      147.10
        ...
120    147.93
121    147.10
122    147.64
123    147.71
124    147.51
Name: redding, Length: 125, dtype: float64

In [56]:
weight = weight.sort_values(ascending=True)   
clusters = pd.DataFrame(columns=['weight', 'p1count', 'p2count'])

In [57]:
for w in weight:
    p1c = -1
    p2c = -1
    for i in weight:
        if i > w - 0.02 and i < w + 0.02:
            p2c = p2c + 1
        if i > w - 0.01 and i < w + 0.01:
            p1c = p1c + 1
    
    clusters = clusters.append({'weight': w, 'p1count': p1c, 'p2count': p2c}, ignore_index=True)

In [58]:
clusters.drop_duplicates(subset="weight", inplace=True)
clusters

     weight  p1count  p2count
0    147.00      1.0      1.0
2    147.05      0.0      1.0
3    147.07      0.0      1.0
4    147.10      4.0      4.0
9    147.12      1.0      1.0
..      ...      ...      ...
120  148.49      0.0      0.0
121  148.58      0.0      0.0
122  148.61      0.0      0.0
123  148.68      0.0      1.0
124  148.70      0.0      1.0

[67 rows x 3 columns]